[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "init"]
	path = init
	url = https://github.com/psophis/Mac-Init
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bin/cellar/speedtest-cli"]
	path = bin/cellar/speedtest-cli
	url = git://github.com/sivel/speedtest-cli.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
