[submodule "bin/cellar/speedtest-cli"]
	path = bin/cellar/speedtest-cli
	url = git://github.com/sivel/speedtest-cli.git
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/shougo/neobundle.vim
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
