[submodule "init"]
	path = init
	url = https://github.com/psophis/Mac-Init
[submodule "bin/cellar/speedtest-cli"]
	path = bin/cellar/speedtest-cli
	url = git://github.com/sivel/speedtest-cli.git
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/shougo/neobundle.vim
